@media screen and (min-width: 900px) {
  #modalContainer {
    display: none;
    align-items: center;
    justify-content: center;

    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
  }

  #modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(236, 236, 230);
    /* padding: 20px 20px; */
    border-radius: 10px;
    box-shadow: 0 0 100px 10px rgba(28, 155, 134, 0.5);
  }

  #modalTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px rgb(189, 189, 189);
  }

  #modalTitle {
    margin-left: 20px;
  }

  #closeModal {
    font-family: "Montserrat";
    font-size: 18px;

    margin-left: 120px;
    margin-right: 20px;

    cursor: pointer;
  }

  #modalBody {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-inline: 20px;
  }
}
@media screen and (max-width: 900px) {
  #modalContainer {
    display: none;
    align-items: center;
    justify-content: center;

    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
  }

  #modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(236, 236, 230);
    border-radius: 10px;
    box-shadow: 0 0 100px 10px rgba(28, 155, 134, 0.5);
  }

  #modalTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px rgb(189, 189, 189);
  }

  #modalTitle {
    margin-left: 20px;
  }

  #closeModal {
    font-family: "Montserrat";
    font-size: 18px;

    margin-right: 20px;

    cursor: pointer;
  }

  #modalBody {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0px;
  }
}
