@media screen and (min-width: 900px) {
  #preLoadContainer {
    height: 500px;

    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
  }

  #preLoadImg {
    width: 200px;
  }
}
