* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(232, 232, 232);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 500px) {
  #loginPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding: 100px 10px;
  }

  #bgImage {
    position: relative;
    height: 450px;
    width: 600px;
    margin: 20px;
    border-radius: 35px;

    background: url(../../../v1/icons/oie_png.png);
    background-size: 150%;
    transition: background-size 0.8s;
  }

  #bgImage::before {
    content: " ";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: inherit;
    border-radius: inherit;

    filter: blur(35px);
    opacity: 1;
  }

  #bgImage::after {
    content: " ";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.725);
    border-radius: inherit;
    transition: all 0.6s;
  }

  #loginContainer {
    z-index: 15;
    opacity: 1 !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 150px;
    left: 130px;

    padding: 25px 50px;
    background-color: rgb(248, 236, 217);
    border-radius: 25px;
    box-shadow: 0 0 50px 8px rgba(183, 161, 127, 0.5);

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }

  #pageName {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: -80px;
    text-align: center;
    vertical-align: middle;
    font-size: 33px;
    text-shadow: 0 0 15px rgba(97, 97, 97, 0.46);
    font-weight: 600;
    color: rgba(102, 102, 102, 0.6);
  }

  #inputsContainer {
    margin-bottom: 10px;
  }

  #inputsContainer input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 200px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    border: none;
    border-radius: 5px;
    padding: 8px 25px 8px 10px;
    background-color: inherit;
    box-shadow: inset 0 0 8px 1px rgba(146, 146, 146, 0.2);
  }

  #inputsContainer input:focus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    outline: solid 2px gray;
  }

  #loginBtn {
    padding: 8px 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(26, 171, 161);
    color: rgb(254, 242, 242);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: all 0.3s;
  }

  #loginBtn:hover {
    background-color: rgb(240, 224, 179);
    box-shadow: 0 0 10px 1px rgba(12, 149, 135, 0.3);
    color: rgb(74, 74, 74);
  }

  #loginBtn:active {
    text-shadow: 0 0 2px rgba(120, 120, 120, 0.644);
    background-color: rgb(244, 230, 194);
    box-shadow: 0 0 20px 5px rgba(12, 149, 135, 0.3);
    color: rgb(74, 74, 74);
  }

  #hideShow {
    margin-left: 5px;
    vertical-align: middle;
    height: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  #loginPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding: 100px 10px;
  }

  #bgImage {
    position: relative;
    height: 300px;
    width: 350px;
    margin: 0px;
    border-radius: 25px;

    background: url(../../../v1/icons/oie_png.png);
    background-size: 150%;
    transition: background-size 0.8s;
  }

  #bgImage::before {
    content: " ";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: inherit;
    border-radius: inherit;

    filter: blur(35px);
    opacity: 1;
  }

  #bgImage::after {
    content: " ";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.725);
    border-radius: inherit;
    transition: all 0.6s;
  }

  #loginContainer {
    z-index: 15;
    opacity: 1 !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 70px;
    left: 23px;

    padding: 18px 20px 15px 20px;
    background-color: rgb(248, 236, 217);
    border-radius: 20px;
    box-shadow: 0 0 50px 8px rgba(183, 161, 127, 0.5);

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }

  #pageName {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: -50px;
    text-align: center;
    vertical-align: middle;
    font-size: 28px;
    text-shadow: 0 0 15px rgba(97, 97, 97, 0.46);
    font-weight: 600;
    color: rgba(102, 102, 102, 0.6);
  }

  #inputsContainer input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 200px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    border: none;
    border-radius: 5px;
    padding: 8px 25px 8px 10px;
    background-color: inherit;
    box-shadow: inset 0 0 8px 1px rgba(146, 146, 146, 0.2);
  }

  #inputsContainer input:focus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    outline: solid 2px gray;
  }

  #loginBtn {
    padding: 8px 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(26, 171, 161);
    color: rgb(254, 242, 242);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: all 0.3s;
  }

  #loginBtn:hover {
    background-color: rgb(240, 224, 179);
    box-shadow: 0 0 10px 1px rgba(12, 149, 135, 0.3);
    color: rgb(74, 74, 74);
  }

  #loginBtn:active {
    text-shadow: 0 0 2px rgba(120, 120, 120, 0.644);
    background-color: rgb(244, 230, 194);
    box-shadow: 0 0 20px 5px rgba(12, 149, 135, 0.3);
    color: rgb(74, 74, 74);
  }

  #hideShow {
    margin-left: 5px;
    vertical-align: middle;
    height: 20px;
    cursor: pointer;
  }
}
