{% extends 'header.html' %} {% block content %}

<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<link
  href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css"
/>

<link rel="stylesheet" href="../static/v1/pages/employees/employees_v1.1.css" />

<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"
></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>

<div id="preLoadContainer">
  <img src="../static/v1/icons/pre_load_location.gif" id="preLoadImg" />
</div>

<div id="tableContainer" style="overflow: auto">
  <table
    id="employeeTable"
    style="overflow-x: auto; width: 100%; height: 100%"
    class="stripe row-border hover"
  >
    <thead>
      <tr>
        <th>Подразделение</th>
        <th>Имя</th>
        <th>Личный номер</th>
        <th>Должность</th>
        <th>Дата принятия</th>
        <th>Дата увольнения</th>
        <th>ТК</th>
        <th>Изменить</th>
      </tr>
    </thead>
  </table>
</div>

<script
  type="module"
  src="../static/v1/pages/employees/employees_v1.1.js"
></script>
<script type="module" src="../static/v1/alerts.js"></script>
<script type="module" src="../static/v1/modal.js"></script>
<script type="module" src="../static/v1/translation_dict.js"></script>
{% endblock content %}
