<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;700&family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/header.css" />
    <title>{{title or 'GPSDEV'}}</title>
  </head>
  <body>
    <header id="header">
      <div id="logoContainer">
        <img id="logoImg" src="/static/icons/map.png" />
        <div id="logo">GPS</div>
      </div>
      <div id="middle">
        <div id="mainPart">
          <div class="page" onclick="location.href='/attends';">Посещения</div>
          <div class="page" onclick="location.href='/objects';">Подопечные</div>
          <div class="page" onclick="location.href='/employees';">Сотрудники</div>
          {% if current_user.rang_id == 1 %}
          <div class="page" onclick="location.href='/journal';">Журнал</div>
          <div class="page" onclick="location.href='/users';">Пользователи</div>
          <div class="page" onclick="location.href='/dashboard';">Dashboard</div>
          {% endif %}
        </div>
      </div>
      <div id="menuContainer">
        <img src="/static/icons/menu (2).png" id="menuBtn" />
      </div>
      <div id="openMenuContainer">
        <div id="openMenu">
          <div class="page" onclick="location.href='/attends';">Посещения</div>
          <div class="page" onclick="location.href='/objects';">Подопечные</div>
          <div class="page" onclick="location.href='/employees';">Сотрудники</div>
          {% if current_user.rang_id == 1 %}
          <div class="page" onclick="location.href='/journal';">Журнал</div>
          <div class="page" onclick="location.href='/users';">Пользователи</div>
          <div class="page" onclick="location.href='/dashboard';">Dashboard</div>
          {% endif %}
        </div>
      </div>
      <div id="exitContainer">
        <img src="/static/icons/door.png" id="exitBtn" title="Выход" onclick="location.href='/api/auth/logout';" />
      </div>
    </header>

    <div id="contentBlock">{% block content %}{% endblock content %}</div>
  </body>

  <script src="/static/header.js"></script>
</html>
