{% extends 'header.html' %} {% block content %}

<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<link
  href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css"
/>

<link rel="stylesheet" href="../static/pages/users/users.css" />

<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"
></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>

<p>Hi there!</p>
{% endblock content %}
