@media screen and (min-width: 900px) {
  .higlight-separate {
    border-top: 1px solid black !important;
  }

  #preLoadContainer {
    height: 500px;

    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
  }

  #preLoadImg {
    width: 200px;
  }

  #tableParametersContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  #tableParameters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  #tableParameters > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }

  #tableParameters > * > * {
    font-size: 15px;
    cursor: pointer;
  }

  #startDateOfPeriodContainer {
    margin: 0px;
  }

  #tableParameters select {
    height: 42px;
    /* padding: 0px 4px; */
    border-radius: 3px;

    text-align: center;
    font-weight: 500;

    border: 1px solid gray;
    background-color: rgb(213 197 143 / 82%);
    color: rgb(77, 77, 77);
  }

  #previousCurrenMonthContainer button,
  #currentMonthContainer button {
    height: 41px;
    padding: 0px 5px;
    border-radius: 3px;

    text-align: center;
    font-weight: 500;

    border: 1px solid gray;
    background-color: rgb(205 188 126 / 36%);
    color: rgb(75, 75, 75);
  }

  #tableParameters select option {
    text-align: none;
  }

  #tableParameters input {
    width: 102px;
    height: 40px;
    padding: 0px 5px;

    text-align: center;
    font-weight: 500;

    border: 1px solid gray;
    background-color: rgb(205 188 126 / 36%);
    color: rgb(75, 75, 75);
  }

  #startDateOfPeriod {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none !important;
  }

  #endDateOfPeriod {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  #requestBtn {
    padding: 11.5px 5px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgb(28 100 121 / 60%);
    color: rgb(247 243 243);

    transition: all 0.4s;
  }

  #requestBtn:hover {
    background-color: rgba(10, 127, 115, 0.66);
    color: rgb(247 243 243);
  }
  #requestBtn:active {
    background-color: rgba(228, 232, 173, 0.66);
    color: rgb(74, 74, 74);
  }

  #tableContainer {
    opacity: 0;
    transition: all 0.8s;
  }

  .jexcel_filter {
    margin-top: 5px;
    align-items: center;
  }

  .jexcel_search input {
    padding: 5px;
  }

  #customToolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
  }

  #customToolbar > * {
    background-color: rgb(25, 121, 100, 30%);
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px 5px 0px 5px;

    margin-right: 5px;
    transition: background-color 0.5s;
    cursor: pointer;
  }

  #customToolbar > *:hover {
    background-color: rgba(4, 106, 84, 0.473);
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px 5px 0px 5px;

    margin-right: 5px;
    cursor: pointer;
  }

  #customToolbar > *:active {
    background-color: rgba(0, 64, 82, 0.516);
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px 5px 0px 5px;

    margin-right: 5px;
    cursor: pointer;
  }

  .jexcel_content::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  #preLoadingImg {
    width: 24px;
    margin-bottom: 20px;
  }

  #btnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 110.5%;
    padding: 20px 0px;
    margin-top: 20px;
    border-top: solid 1px rgb(189, 189, 189);
  }

  #btnsContainer button {
    margin: 0 30px 0 30px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 5px;
    border: none;
  }

  #cancelBtn {
    background-color: rgba(83, 83, 83, 0.751);
    color: rgb(247, 237, 237);

    cursor: pointer;
  }

  #backBtn {
    background-color: rgba(169, 169, 169, 0.751);
    color: rgb(247, 237, 237);

    cursor: pointer;
  }

  #saveBtn {
    background-color: rgba(223, 220, 168, 0.899);
    color: rgb(46, 46, 46);

    cursor: pointer;
  }

  #inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #employeeSelect,
  #objectSelect,
  #employeeSearch,
  #objectSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;

    border: 1px solid rgb(166, 166, 166);
    border-radius: 3px;
    padding: 5px;
    width: 380px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 20px;
  }

  #employeeSelect:hover,
  #objectSelect:hover {
    background-color: rgb(223, 223, 223);
  }

  .unacive-select {
    cursor: no-drop !important;
  }

  #employeeSearch:focus,
  #objectSearch:focus {
    outline: 1px solid gray;
    border: 1px solid rgb(182, 182, 182);
  }

  #employeeListContainer,
  #objectListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
  }
  #employeeList,
  #objectList {
    height: 300px;
    width: 412px;
    overflow-y: scroll;
  }
  #employeeList > *,
  #objectList > * {
    padding: 2px;
    cursor: pointer;
  }
  #employeeList > :hover,
  #objectList > :hover {
    background-color: rgb(223, 223, 223);
  }

  .division-name-in-list {
    font-size: 14px;
    color: gray;
    margin-left: 15px;
  }
}
